<head>
    <title>
       Wut
    </title>
    <link rel="icon" src="~/img/grad.png" />
</head>
<body style="margin: 0; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;font-size:30px">
Awkward....
</div>
</body>