<head>
    <title>
        Woohoo!
    </title>
    <link rel="icon" src="~/img/grad.png" />
</head>
<body style="margin: 0; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; font-size: 30px; text-align: center;">
        <p>Congratulations Baustyn!</p>
        <p>Hope you have a good dinner, ceremony and pickleball party!</p>
        <p>- from the Chens</p>
    </div>
    <div style="position: absolute; bottom: 10px; text-align: center; width: 100%;">
        I may have forgotten to write a card so this is why I made you a web page. Hope you like it!
    </div>
</body>